In [3]:
%config Completer.use_jedi = False

#import dependencies and setup
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import datetime as de

In [5]:
#set up chrome path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/xiaokunyu/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

## Scraping from Mars News Site

In [6]:
#connect to Mars news site
url = "https://redplanetscience.com"
browser.visit(url)

In [9]:
#start to scrap the page of mars news
html = browser.html
soup = bs(html, "html.parser")
title_content = soup.select_one("div", class_="col-md-12")

In [11]:
#scrape the first title
first_title = title_content.find_all("div", class_='content_title')[0].get_text()
print(first_title)

All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover

In [12]:
#crape the first sub-title
first_para = title_content.find_all("div", class_='article_teaser_body')[0].get_text()
print(first_para)

SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.

## Scraping from Mars Space Images

In [14]:
#connet to spaceimages-mars
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [15]:
#start to scrap the page of space images
html = browser.html
soup = bs(html, "html.parser")
pic_content = soup.select_one("div",class_="thmbgroup")

In [23]:
#scrape the href of the page
image_url = pic_content.find_all("a",class_="fancybox-thumbs")[0]['href']
print(image_url)

image/featured/mars1.jpg

In [25]:
#store a full html link for picture
featured_image_url =f'https://spaceimages-mars.com/{image_url}'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Scraping from Mars Facts

In [26]:
#connet to Mars Facts
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [32]:
#start to scrap the table from Mars Facts
html = browser.html
soup = bs(html, "html.parser")
table_content = soup.select_one("table", class_="table table-striped")

In [45]:
#create the list for table
index = []
mars_list = []
earth_list = []

In [41]:
categories = table_content.find_all('tr')
print(categories)

[<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>, <tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>, <tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>, <tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>, <tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>, <tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>, <tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>]

In [46]:
for category in categories:
    index.append(category.find('th').get_text())
    mars_list.append(category.find_all('td')[0].get_text())
    earth_list.append(category.find_all('td')[1].get_text())

In [51]:
print(earth_list)

[' Earth  ', '12,742 km ', '5.97 × 10^24 kg ', '1 ', '149,598,262 km ', '365.24 days ', '\t-88 to 58°C ']

In [76]:
df = pd.DataFrame(list(zip(index,mars_list,earth_list)))
df

                          0                 1                 2
0   Mars - Earth Comparison              Mars           Earth
1                 Diameter:          6,779 km        12,742 km
2                     Mass:  6.39 × 10^23 kg   5.97 × 10^24 kg
3                    Moons:                 2                1
4        Distance from Sun:    227,943,824 km   149,598,262 km
5           Length of Year:    687 Earth days      365.24 days
6              Temperature:      -87 to -5 °C    \t-88 to 58°C

In [77]:
df = df.set_index(0)
df.columns = ['Mars', 'Earth']
df

                                      Mars             Earth
0
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 °C    \t-88 to 58°C

In [78]:
df.index.name = 'Mars-Earth Comparison'
df = df.iloc[1:,:]
df.loc['Temperature:','Earth'] = '-88 to 58°C'
df

/Users/xiaokunyu/opt/anaconda3/envs/PythonDate/lib/python3.6/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/xiaokunyu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                   Mars             Earth
Mars-Earth Comparison
Diameter:                      6,779 km        12,742 km
Mass:                  6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                2                1
Distance from Sun:       227,943,824 km   149,598,262 km
Length of Year:          687 Earth days      365.24 days
Temperature:               -87 to -5 °C       -88 to 58°C

In [79]:
df.to_html('table.html', index = True, classes=['table', 'table-striped','table-hover'])

## Scraping from Mars Hemispheres

In [80]:
#connet to Mars Facts
url = "https://marshemispheres.com"
browser.visit(url)

In [ ]:
#start to scrap the table from Mars Facts
html = browser.html
soup = bs(html, "html.parser")
table_content = soup.select_one("table", class_="table table-striped")