In [3]:
%config Completer.use_jedi = False

#import dependencies and setup
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import datetime as de

In [5]:
#set up chrome path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/xiaokunyu/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

## Scraping from Mars News Site

In [6]:
#connect to Mars news site
url = "https://redplanetscience.com"
browser.visit(url)

In [9]:
#start to scrap the page of mars news
html = browser.html
soup = bs(html, "html.parser")
title_content = soup.select_one("div", class_="col-md-12")

In [11]:
#scrape the first title
first_title = title_content.find_all("div", class_='content_title')[0].get_text()
print(first_title)

All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover

In [12]:
#Scrape the first sub-title
first_para = title_content.find_all("div", class_='article_teaser_body')[0].get_text()
print(first_para)

SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.

## Scraping from Mars Space Images

In [14]:
#connet to spaceimages-mars
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [15]:
#start to scrap the page of space images
html = browser.html
soup = bs(html, "html.parser")
pic_content = soup.select_one("div",class_="thmbgroup")

In [23]:
#scrape the href of the page
image_url = pic_content.find_all("a",class_="fancybox-thumbs")[0]['href']
print(image_url)

image/featured/mars1.jpg

In [25]:
#store a full html link for picture
featured_image_url =f'https://spaceimages-mars.com/{image_url}'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Scraping from Mars Facts

In [26]:
#connet to Mars Facts
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [32]:
#start to scrap the table from Mars Facts
html = browser.html
soup = bs(html, "html.parser")
table_content = soup.select_one("table", class_="table table-striped")

In [45]:
#create the list for table
index = []
mars_list = []
earth_list = []

In [41]:
categories = table_content.find_all('tr')
print(categories)

[<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>, <tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>, <tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>, <tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>, <tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>, <tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>, <tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>]

In [46]:
for category in categories:
    index.append(category.find('th').get_text())
    mars_list.append(category.find_all('td')[0].get_text())
    earth_list.append(category.find_all('td')[1].get_text())

In [51]:
print(earth_list)

[' Earth  ', '12,742 km ', '5.97 × 10^24 kg ', '1 ', '149,598,262 km ', '365.24 days ', '\t-88 to 58°C ']

In [76]:
df = pd.DataFrame(list(zip(index,mars_list,earth_list)))
df

                          0                 1                 2
0   Mars - Earth Comparison              Mars           Earth
1                 Diameter:          6,779 km        12,742 km
2                     Mass:  6.39 × 10^23 kg   5.97 × 10^24 kg
3                    Moons:                 2                1
4        Distance from Sun:    227,943,824 km   149,598,262 km
5           Length of Year:    687 Earth days      365.24 days
6              Temperature:      -87 to -5 °C    \t-88 to 58°C

In [77]:
df = df.set_index(0)
df.columns = ['Mars', 'Earth']
df

                                      Mars             Earth
0
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 °C    \t-88 to 58°C

In [78]:
df.index.name = 'Mars-Earth Comparison'
df = df.iloc[1:,:]
df.loc['Temperature:','Earth'] = '-88 to 58°C'
df

/Users/xiaokunyu/opt/anaconda3/envs/PythonDate/lib/python3.6/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/xiaokunyu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                   Mars             Earth
Mars-Earth Comparison
Diameter:                      6,779 km        12,742 km
Mass:                  6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                2                1
Distance from Sun:       227,943,824 km   149,598,262 km
Length of Year:          687 Earth days      365.24 days
Temperature:               -87 to -5 °C       -88 to 58°C

In [79]:
df.to_html('table.html', index = True, classes=['table', 'table-striped','table-hover'])

In [97]:
test = df.to_html()
print(test)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Mars-Earth Comparison</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

## Scraping from Mars Hemispheres

In [80]:
#connet to Mars Facts
url = "https://marshemispheres.com"
browser.visit(url)

In [83]:
#start to scrap the table from Mars Facts
html = browser.html
soup = bs(html, "html.parser")
hemis = soup.find("div", class_="collapsible results")
print(hemis.get_text())

Cerberus Hemisphere Enhanced

image/tiff 21 MB
Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…







Schiaparelli Hemisphere Enhanced

image/tiff 35 MB
Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…







Syrtis Major Hemisphere Enhanced

image/tiff 25 MB
Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…







Valles Marineris Hemisphere Enhanced

image/tiff 27 MB
Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…

In [91]:
#get a list of how many pictures contains inside
categories = hemis.find_all('div', class_= 'item')

[<div class="item">
<a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
</div>
<!-- end description -->
</div>, <div class="item">
<a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
<div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
</div>
<!-- end description -->
</div>]

In [92]:
hemisphere_image_urls = []

In [93]:
for category in categories:
    hemisphere = {}
    
    #find image url and title and put into dictionary
    image_src = category.find("img",class_="thumb")['src']
    hemisphere['title'] = category.find('h3').get_text()
    hemisphere['img_url'] = f'https://marshemispheres.com/{image_src}'
    
    #put the hemisphere into a list
    hemisphere_image_urls.append(hemisphere)
    
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [95]:
browser.quit()